<a href="https://colab.research.google.com/github/THATIPALLYROHITH/2303A51171-2025BT17-18/blob/main/2303A51171_lab_5_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Students dataset
students = pd.DataFrame({
    "student_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "class": ["A", "B", "A", "B", "A"]
})

# Exam scores dataset
scores = pd.DataFrame({
    "student_id": [1, 2, 3, 5, 6],
    "subject": ["Math", "Science", "Math", "Science", "Math"],
    "marks": [85, 90, 78, 88, 92]
})

print("Students:\n", students, "\n")
print("Scores:\n", scores, "\n")

# Different joins
inner_join = pd.merge(students, scores, on="student_id", how="inner")
left_join = pd.merge(students, scores, on="student_id", how="left")
right_join = pd.merge(students, scores, on="student_id", how="right")

print("Inner Join:\n", inner_join, "\n")
print("Left Join:\n", left_join, "\n")
print("Right Join:\n", right_join, "\n")

# Overall aggregate statistics
print("Overall Stats:\n", inner_join["marks"].agg(["mean", "max", "min", "count"]), "\n")

# Group-wise aggregate statistics
print("Stats by Class:\n", inner_join.groupby("class")["marks"].agg(["mean", "max", "min", "count"]))

Students:
    student_id     name class
0           1    Alice     A
1           2      Bob     B
2           3  Charlie     A
3           4    David     B
4           5      Eva     A

Scores:
    student_id  subject  marks
0           1     Math     85
1           2  Science     90
2           3     Math     78
3           5  Science     88
4           6     Math     92

Inner Join:
    student_id     name class  subject  marks
0           1    Alice     A     Math     85
1           2      Bob     B  Science     90
2           3  Charlie     A     Math     78
3           5      Eva     A  Science     88

Left Join:
    student_id     name class  subject  marks
0           1    Alice     A     Math   85.0
1           2      Bob     B  Science   90.0
2           3  Charlie     A     Math   78.0
3           4    David     B      NaN    NaN
4           5      Eva     A  Science   88.0

Right Join:
    student_id     name class  subject  marks
0           1    Alice     A     Math     85
1           2      Bob     B  Science     90
2           3  Charlie     A     Math     78
3           5      Eva     A  Science     88
4           6      NaN   NaN     Math     92

Overall Stats:
 mean     85.25
max      90.00
min      78.00
count     4.00
Name: marks, dtype: float64

Stats by Class:
             mean  max  min  count
class
A      83.666667   88   78      3
B      90.000000   90   90      1

In [ ]:
import pandas as pd

# Load datasets
customers = pd.read_csv("customers.csv")
sales = pd.read_csv("sales.csv")

print("Customers:\n", customers, "\n")
print("Sales:\n", sales, "\n")

# Merge datasets
inner_sales = pd.merge(customers, sales, on="customer_id", how="inner")
left_sales = pd.merge(customers, sales, on="customer_id", how="left")

print("Inner Join:\n", inner_sales, "\n")
print("Left Join:\n", left_sales, "\n")

# Sales statistics
print("Overall Sales Stats:\n", inner_sales["amount"].agg(["sum", "mean", "max", "min", "count"]), "\n")

# Group by region
region_stats = inner_sales.groupby("region")["amount"].agg(["sum", "mean", "max", "min", "count"])
print("Sales Stats by Region:\n", region_stats)

Customers:
    customer_id     name region
0          101    Alice  North
1          102      Bob  South
2          103  Charlie   East
3          104    David   West
4          105      Eva  North

Sales:
    sale_id  customer_id  amount
0     1001          101     250
1     1002          102     450
2     1003          101     300
3     1004          103     500
4     1005          104     700
5     1006          106     200

Inner Join:
    customer_id     name region  sale_id  amount
0          101    Alice  North     1001     250
1          101    Alice  North     1003     300
2          102      Bob  South     1002     450
3          103  Charlie   East     1004     500
4          104    David   West     1005     700

Left Join:
    customer_id     name region  sale_id  amount
0          101    Alice  North   1001.0   250.0
1          101    Alice  North   1003.0   300.0
2          102      Bob  South   1002.0   450.0
3          103  Charlie   East   1004.0   500.0
4          104    David   West   1005.0   700.0
5          105      Eva  North      NaN     NaN

Overall Sales Stats:
 sum      2200.0
mean      440.0
max       700.0
min       250.0
count       5.0
Name: amount, dtype: float64

Sales Stats by Region:
         sum   mean  max  min  count
region
East    500  500.0  500  500      1
North   550  275.0  300  250      2
South   450  450.0  450  450      1
West    700  700.0  700  700      1