<a href="https://colab.research.google.com/github/THATIPALLYROHITH/2303A51171-2025BT17-18/blob/main/2303A51171_Lab4_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Load student scores dataset
df = pd.read_csv("student_scores.csv")

print("Original Data:")
print(df)

# Fill missing subject marks with column-wise average (warning-free way)
df['Math'] = df['Math'].fillna(df['Math'].mean())
df['Science'] = df['Science'].fillna(df['Science'].mean())
df['English'] = df['English'].fillna(df['English'].mean())

print("\nData after filling missing values:")
print(df)

# Filter students scoring more than 75 in all subjects
high_achievers = df[(df['Math'] > 75) &
                    (df['Science'] > 75) &
                    (df['English'] > 75)]

print("\nHigh Achievers (score > 75 in all subjects):")
print(high_achievers)

Original Data:
   Student_ID     Name  Math  Science  English
0         101    Alice  85.0     88.0     79.0
1         102      Bob   NaN     76.0     82.0
2         103  Charlie  78.0      NaN     91.0
3         104    David  92.0     90.0      NaN
4         105      Eva   NaN     81.0     74.0

Data after filling missing values:
   Student_ID     Name  Math  Science  English
0         101    Alice  85.0    88.00     79.0
1         102      Bob  85.0    76.00     82.0
2         103  Charlie  78.0    83.75     91.0
3         104    David  92.0    90.00     81.5
4         105      Eva  85.0    81.00     74.0

High Achievers (score > 75 in all subjects):
   Student_ID     Name  Math  Science  English
0         101    Alice  85.0    88.00     79.0
1         102      Bob  85.0    76.00     82.0
2         103  Charlie  78.0    83.75     91.0
3         104    David  92.0    90.00     81.5

In [4]:
import pandas as pd

# Load hospital patient dataset
df = pd.read_csv("patients.csv")

print("Original Data:")
print(df)

# Replace missing Age values with median (warning-free way)
df['Age'] = df['Age'].fillna(df['Age'].median())

print("\nData after filling missing ages:")
print(df)

# Filter elderly female patients (>50 years) diagnosed with Diabetes
filtered_patients = df[(df['Gender'] == 'Female') &
                       (df['Age'] > 50) &
                       (df['Diagnosis'].str.lower() == 'diabetes')]

print("\nElderly Female Patients with Diabetes:")
print(filtered_patients)

Original Data:
   Patient_ID    Name   Age  Gender Diagnosis Admission_Date
0         201    John  65.0    Male  Diabetes     2025-08-01
1         202    Mary   NaN  Female  Diabetes     2025-07-20
2         203   Linda  54.0  Female    Cancer     2025-06-15
3         204  Robert  40.0    Male  Diabetes     2025-08-10
4         205  Sophia  70.0  Female  Diabetes     2025-05-05
5         206   Grace   NaN  Female       Flu     2025-04-25

Data after filling missing ages:
   Patient_ID    Name   Age  Gender Diagnosis Admission_Date
0         201    John  65.0    Male  Diabetes     2025-08-01
1         202    Mary  59.5  Female  Diabetes     2025-07-20
2         203   Linda  54.0  Female    Cancer     2025-06-15
3         204  Robert  40.0    Male  Diabetes     2025-08-10
4         205  Sophia  70.0  Female  Diabetes     2025-05-05
5         206   Grace  59.5  Female       Flu     2025-04-25

Elderly Female Patients with Diabetes:
   Patient_ID    Name   Age  Gender Diagnosis Admission_Date
1         202    Mary  59.5  Female  Diabetes     2025-07-20
4         205  Sophia  70.0  Female  Diabetes     2025-05-05